{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ absolute_url(asset('styles/custom.css')) }}" rel="stylesheet"/>
{% endblock %}
{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container bg-primary w-75 mt-5 mb-5 rounded shadow">
		<div class="row align-items-stretch">
			<div class="col d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded" id="centrador">
				<img id="imagen" src="{{ absolute_url(asset('images/Taskillity.png')) }}" alt="Taskillity Logo"/>
			</div>
			<div class="col bg-white p-5 rounded-end">
				<h2 class="fw-bold text-center py-5">Bienvenido a Taskillity!</h2>

				<!--LOGIN-->
				<form method="POST" role="form" id="register-form" action="#">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<div class="mb-4">
						<label for="email" class="form-label">Correo electrónico</label>
						<input type="email" class="form-control" name="email">
					</div>
					<span class="help-block" id="error"></span>
					<div class="mb-4">

						<label for="password" class="form-label">Contraseña</label>
						<input type="password" class="form-control" name="password">
						<span class="help-block" id="error"></span>
					</div>

					<div class="d-grid">
						<button type="submit" class="btn btn-primary" name="submit">
							Iniciar Sesión
						</button>
					</div>

					<div class="col-12 my-3 text-center">
						<span>¿No tienes cuenta?
							<a href="{{ path('usuario_new') }}">Regístrate</a>
						</span>
					</div>
				</form>
			</div>
		</div>

	{% endblock %}
