{% extends 'base.html.twig' %}
{% block title %}Formulario{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/formulario.css') }}" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="{{ absolute_url(asset('css/index.css')) }}" rel="stylesheet"/>

{% endblock %}


{% block body %}
<header>
			<nav class="navbar navbar-expand-lg nabvar-dark menu">
				<div class="container">
					<img class="img" src="{{ absolute_url(asset('images/Taskillity.png')) }}" width="50" height="50">

					<a class="navbar-brand text-white " href="#">{{app.user.nombre}}</a>
					<button class="navbar-toggler scroll" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation"></button>

					<div class="collapse navbar-collapse" id="navbarScroll">
						<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 50px;">
							<li class="nav-item">
								<a class="nav-link active text-white " aria-current="page" href="{{path('index')}}">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active text-white " aria-current=" page" href="{{path('app_contact')}}">Contact us</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link active text-white " aria-current="page" href="{{path('app_logout')}}">Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
   <div class="container">
        <br><br><br>
    <h2>Formulario de contacto</h2><br>
    <form role="form" action="#" id="register-form">
        <div class="form-body">
            <div class="form-group">
                <div class="input-group mb-1">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    <input name="name" type="text" class="form-control" placeholder="Nombre y apellidos">
                </div>
                <span class="help-block" id="error"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                    <input name="email" type="text" class="form-control" placeholder="Email">
                </div>
                <span class="help-block" id="error"></span>
            </div>

            <div class="form-group ">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                    <input name="tlf" type="text" class="form-control" placeholder="Tlf">
                </div>
                <span class="help-block" id="error"></span>
            </div>


            <div class="form-group ">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                    <input name="asunto" type="text" class="form-control" placeholder="Asunto">
                </div>
                <span class="help-block" id="error"></span>
            </div>


            <div class="form-group ">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                    <textarea name="descripcion" placeholder="Descripción breve" class="form-control" id="exampleFormControlTextarea1" rows="3" type="text"></textarea>
                </div>
                <span class="help-block" id="error"></span>
            </div>

        </div>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>

        

    </form>

<br><br><br>
<h2>Localízanos</h2>
<div id="map">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
    </div>
</div>

<footer class="container-fluid page-footer font-small blue pt-2" style="background-color:black; color: white;">

    <div class="text-center">
  
      <div class="row">
  
        <div class="col-md-6 mt-md-0 mt-3">
  
          <h5>Contacto</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat erat nibh, et eleifend orci sodales id.
               Morbi dapibus enim nulla. Duis eget felis ultrices, ultricies mi in, ultrices mauris.</p>
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class="col-md-6 mb-md-0 mb-6">
  
          <h5>Síguenos</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/Taskillity/taskillity"> 
              <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="{{ absolute_url(asset('images/github.png')) }}">
              </a>
              <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="{{ absolute_url(asset('images/twitter.png')) }}">
              <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="{{ absolute_url(asset('images/facebook.png')) }}">
              <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="{{ absolute_url(asset('images/instagram.png')) }}">
            </li>
          </ul>
  
          <h5>Licencias</h5>

          <ul class="list-unstyled">
            <li>
                <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/%22%3E"> 
                <span property="dct:title">TaskillityLogo</span> is licensed under 
                <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-ND 4.0
                <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1%22%3E">
                <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1%22%3E"> 
                <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1%22%3E"> 
                <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1%22%3E">
                </a></p>
            </li>
            <li>
                Esta obra está bajo una 
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                Licencia Creative Commons Atribución-NoComercial-SinDerivadas 4.0 Internacional &nbsp;&nbsp;</a>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png">
                </a><br>
                
                
            </li>
          </ul>

        </div>

      </div>
  
    </div>
  
    <div class="footer-copyright text-center py-3">© 2022 Copyright Taskillity
    </div>
  
  </footer>


  {% block javascripts %}
    
        <script src="{{ asset('scripts/script.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>


    <script>
        $('document').ready(function () {

            var nameregx = /^[a-zA-Z ]+$/;

            $.validator.addMethod("validname", function (value, element) {
                return this.optional(element) || nameregx.test(value);
            });

            var eregex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

            $.validator.addMethod("validemail", function (value, element) {
                return this.optional(element) || eregex.test(value);
            });

            var tlfregx = /^(6|7|9)([0-9][ -]*){8}$/;

            $.validator.addMethod("validtlf", function (value, element) {
                return this.optional(element) || tlfregx.test(value);
            });
        })

        $("#register-form").validate({
            rules:
            {
                name: {
                    required: true,
                    validname: true,
                    minlength: 4
                },
                email: {
                    required: true,
                    validemail: true
                },
                tlf: {
                    required: true,
                    validtlf: true
                },
                asunto: {
                    required: true
                },
                descripcion: {
                    required: true,
                    minlength: 15
                }

            },
            messages:
            {
                name: {
                    required: "Por favor, indique un nombre de usuario.",
                    validname: "Solo se permiten letras y espacios en blanco.",
                    minlength: "El nombre es demasiado corto."
                },
                email: {
                    required: "Por favor, indique un email.",
                    validemail: "Introduzca un email correcto."
                },
                tlf: {
                    required: "Por favor, indique un telefono.",
                    validtlf: "Introduzca un número de telefono válido"

               },
                asunto: {
                    required: "Por favor, indique un asunto.",
                },
                descripcion: {
                    required: "Por favor, indique una descripción.",
                    minlength: "La descripción es demasiado corta."
                }
            },
            errorPlacement: function (error, element) {
                $(element).closest('.form-group').find('.help-block').html(error.html());
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(element).closest('.form-group').find('.help-block').html('');
            },
            submitHandler: function (form) {
                form.submit();
                alert('ok');
            }

        });


    </script>

{% endblock %}

    
{% endblock %}
